/* Iframe */
iframe{
  position:relative;
  top:50px;
  left:-114px;
  padding-left:0px;
  padding-right:0px;
  right:74px;
  bottom:-8px;
  display:block;
  align-self:auto;
  transform:translatex(-521px) translatey(-147px);
  padding-bottom:6px;
 }
 
 /* Link */
 a{
  position:relative;
  top:78px;
  left:86px;
  bottom:49px;
  word-spacing:1.4px;
  column-count:1;
  line-height:46.3px;
  font-size:22px;
  background-color:#cccccc;
  background-attachment:fixed;
  background-position-x:0%;
  background-repeat:repeat;
  color:rgb(0, 123, 255);
  background-clip:border-box;
  border-style:solid;
  border-top-color:#000000;
  border-color:#000000;
  border-width:1px;
  width:122px;
  min-height:64px;
  transform:translatex(-415px) translatey(-35px);
 }
 
 /* Paragraph */
 p{
  perspective:0px;
  text-align:justify;
  margin-left:500px;
  margin-right:500px;
 }
 
 